<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="factory.integration.database.synchronizer.mapper.scheduler.SyncTaskLogDaoMapper">
    <insert id="insertLog" parameterType="SyncTaskLog" useGeneratedKeys="true" keyProperty="id">
        INSERT INTO SYNC_TASK_LOG (sync_task_id, start_time, status)
        VALUES (#{syncTaskId}, #{startTime}, #{status})
    </insert>
    <update id="updateLog">
        UPDATE SYNC_TASK_LOG
        SET status   = #{status},
            end_time = #{endTime}
        WHERE id = #{id}
    </update>
    <select id="selectPage" resultType="SyncTaskLog">
        SELECT id, sync_task_id, start_time, end_time, status
        FROM SYNC_TASK_LOG
        ORDER BY start_time DESC LIMIT #{first}, #{size}
    </select>
</mapper>
