<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE configuration PUBLIC "-//mybatis.org//DTD Config 3.0//EN" "HTTP://mybatis.org/dtd/mybatis-3-config.dtd">

<configuration>
    <settings>
        <setting name="cacheEnabled" value="false"/>
        <setting name="useGeneratedKeys" value="true"/>
        <setting name="defaultExecutorType" value="REUSE"/>
        <setting name="jdbcTypeForNull" value="NULL"/>
    </settings>
    <typeAliases>
        <typeAlias alias="CustomerDto" type="factory.integration.database.synchronizer.mapper.Customer"/>
        <typeAlias alias="CarDto" type="factory.integration.database.synchronizer.mapper.Car"/>
        <typeAlias alias="OrderDto" type="factory.integration.database.synchronizer.mapper.Order"/>
        <typeAlias alias="SyncTask" type="factory.integration.database.synchronizer.mapper.scheduler.SyncTask"/>
        <typeAlias alias="SyncTaskLog" type="factory.integration.database.synchronizer.mapper.scheduler.SyncTaskLog"/>
    </typeAliases>
    <typeHandlers>
        <typeHandler handler="factory.integration.database.synchronizer.mapper.scheduler.ColumnsTypeHandler"
                     javaType="java.util.List" jdbcType="VARCHAR"/>
    </typeHandlers>
</configuration>
